In [231]:

### Modèle Random Forest et Calcul des Métriques :

# Import des bibliothèques nécessaires
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import pandas as pd

# Chargement du dataset Iris
iris = load_iris()
X = iris.data
y = iris.target

# Séparation des données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Création et entraînement du modèle Random Forest
rf_model = RandomForestClassifier(n_estimators=1, max_depth=2,random_state=42)
rf_model.fit(X_train, y_train)

# Prédiction sur l'ensemble de test
y_pred = rf_model.predict(X_test)

# Calcul des métriques d'évaluation
accuracy = round(accuracy_score(y_test, y_pred)*100,2)
precision = round(precision_score(y_test, y_pred, average='weighted')*100,2)
recall = round(recall_score(y_test, y_pred, average='weighted')*100,2)
f1 = round(f1_score(y_test, y_pred, average='weighted')*100,2)

# Création d'un DataFrame avec les métriques
df = pd.DataFrame({'Names': ['Accuracy', 'Precision', 'Recall', 'F1-Score'],
                           'Metrics': [accuracy, precision, recall, f1]})

In [232]:
rf_model.predict([[5,3,2,1]])

array([1])

In [240]:

input = [1.2, 3.4, 5.6,1]
rf_model.predict([input])

array([1])

In [234]:
import joblib

In [235]:
joblib.dump(rf_model, 'rf_model.joblib')

['rf_model.joblib']

In [236]:
rf_model = joblib.load('rf_model.joblib')

In [237]:
joblib.dump(rf_model, 'rf_model.joblib.js', compress=False)

['rf_model.joblib.js']

In [242]:
joblib.dump(rf_model, 'rf_model.pkl')

['rf_model.pkl']

In [245]:
import pickle

with open('models/model.pkl', 'wb') as f:
  pickle.dump(rf_model, f)

In [196]:
dist = df2.groupby('nature').count().target
dist
labels = dist.index

In [214]:
df2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,nature
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [140]:
dd = df2.groupby('nature')
sl = dd.describe().iloc[:,1:8]
sw = dd.describe().iloc[:,9:16]
pl = dd.describe().iloc[:,17:24]
pw = dd.describe().iloc[:,25:32]

In [176]:
chart_data3 = pd.DataFrame(df2.iloc[:,:4].describe().drop(['std','count']))
chart_data3

      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
mean           5.843333          3.057333              3.758          1.199333
min            4.300000          2.000000              1.000          0.100000
25%            5.100000          2.800000              1.600          0.300000
50%            5.800000          3.000000              4.350          1.300000
75%            6.400000          3.300000              5.100          1.800000
max            7.900000          4.400000              6.900          2.500000

In [194]:
# Convertir les données en une liste de dictionnaires
chart_data3.index

Index(['mean', 'min', '25%', '50%', '75%', 'max'], dtype='object')

In [184]:
# Créer un dictionnaire pour stocker les séries de données
series_dict = {
    'Moyenne': [item['mean'] for item in data_list],
}

TypeError: string indices must be integers, not 'str'

In [ ]:
# Convertir les noms de catégories en liste
categories = [item['Categories'] for item in data_list]

In [141]:
df_sl = pd.DataFrame(pd.DataFrame(sl))
df_sl.columns = df_sl.columns.droplevel(level=0)
df_sl.drop(columns='std', inplace=True)

In [142]:
df_sl

             mean  min    25%  50%  75%  max
nature
setosa      5.006  4.3  4.800  5.0  5.2  5.8
versicolor  5.936  4.9  5.600  5.9  6.3  7.0
virginica   6.588  4.9  6.225  6.5  6.9  7.9

In [ ]:
Je suis ravie que cela ait fonctionné pour vous ! Pour récupérer les valeurs saisies dans chaque champ de saisie (input) du formulaire en JavaScript afin de les utiliser dans votre code Python qui gère la vue HTML, vous pouvez utiliser la méthode `getElementById()` pour accéder à chaque champ par son ID et récupérer sa valeur à l'aide de la propriété `value`. Voici un exemple de code pour récupérer les valeurs des champs de saisie :

```html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Titre</title>
</head>
<body>
    <form id="myForm">
        <label for="input1">Champ 1 :</label>
        <input type="text" id="input1" name="input1" required>
        <span id="errorInput1" style="color: red;"></span><br><br>

        <label for="input2">Champ 2 :</label>
        <input type="text" id="input2" name="input2" required>
        <span id="errorInput2" style="color: red;"></span><br><br>

        <button onclick="checkValidityAndExecute()" type="button" class="btn btn-primary me-2">Prédire</button>
    </form>

    <script>
        function checkValidityAndExecute() {
            var form = document.getElementById('myForm');
            var isValid = true;

            form.querySelectorAll(':invalid').forEach(function(element) {
                var fieldName = element.name;
                var errorMessage = element.validationMessage;
                document.getElementById('error' + fieldName).textContent = errorMessage;
                isValid = false;
            });

            if (isValid) {
                var input1Value = document.getElementById('input1').value;
                var input2Value = document.getElementById('input2').value;

                // Envoyer les valeurs à Python (à adapter selon votre configuration)
                window.location.href = "/chemin/vers/votre/page-python?input1=" + input1Value + "&input2=" + input2Value;
            }
        }
    </script>
</body>
</html>
```

Dans ce code, une fois que tous les champs requis sont remplis et validés, les valeurs des champs `input1` et `input2` sont récupérées à l'aide de `document.getElementById('input1').value` et `document.getElementById('input2').value`. Ensuite, ces valeurs sont envoyées à votre code Python en tant que paramètres dans l'URL pour être utilisées dans le traitement côté serveur. Assurez-vous d'adapter le chemin vers votre page Python dans `window.location.href` selon votre configuration.

In [ ]:
from flask import Flask, request

app = Flask(__name)

@app.route('/votre-page-python', methods=['GET'])
def traitement_donnees():
    input1_value = request.args.get('input1')
    input2_value = request.args.get('input2')

    # Utilisez les valeurs récupérées comme vous le souhaitez
    print("Valeur de input1 :", input1_value)
    print("Valeur de input2 :", input2_value)

    # Retournez une réponse à la page HTML si nécessaire
    return "Données reçues avec succès !"

if __name__ == '__main__':
    app.run()

list[1, 2]